body{
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-end;
    background-color: black;
    background-image: url('images/darkwindows.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}



.taskbar{
    
    display: flex;
    align-items: center;
    height:50px;
    background-color: #1d1d76;
}

.taskbar img{
    margin: 15px;
    height: 35px;
    width: 35px;
}

.taskbar img:hover{
    transform: scale(1.1);
}

.taskbar img:active{
    height: 30px;
    width: 30px;
}