body{
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-end;
    background-color: black;
    background-image: url('images/darkwindows.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}



.taskbar{
    height:50px;
    background-color: #1d1d76;
}