body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    
    
}

button{
    height: 100px;
    width: 100px;
    border-radius: 20px;
}

button:hover{
    background-color: grey;
    transform: scale(1.1);
}
button:active{
    background-color: red;
}