*{
    box-sizing: border-box;
}
body{
    margin: none;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Google Sans', sans-serif;
}
.calculator{
    border-radius: 20px;
    background-color: #222;
    height: 70vh;
    width: 45vh;
}
.class{
    background-color: #222;
}
.abilities{
    display: flex;
    justify-content: space-around;
    height: 60vh;
    width: 100%;
    
    background-color: black;
    border-radius: 20px;
    color: whitesmoke;
}
.abilities th{
    vertical-align: top;
}
.display{
    height: 35vh;
    width: 100%;
    background-color: #222;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    
}

table{
    width: 100%;
    height: 100%;
}

td{
    text-align: center;
    border-radius: 8px;
    height: 7vh;
    width: 7vh;
}




.orange{
    background-color: orange;
}

button{
    border-style: none;
    border-radius: 8px;
    font-size: 30px;
    color: whitesmoke;
    width: 70%;
    height: 70%;
    background-color: #222;
}

button:hover{
    background-color: #333;
}
button:active{
    background-color: whitesmoke;
    color: black;
}