body{
    color: white;
    font-family: 'Google Sans', sans-serif;
    background-color: #222;
}

h5{
    color: grey;
}

nav{
    background-color: ;
    height: 10px;
    width: 100%;;
    display: flex;
    justify-content:right;
}

img{
    width: 40px;
    height: 40px;
}

img:hover{
    transition: transform 0.3s ease;
    transform: scale(1.1);
}

.setup{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 10px;
    background-color: #333;
    width: 90%;
    height: 70px;
    margin-bottom: 10px;
}