html{
    background-color: #333;
}
body{
    color: white;
    margin: auto;
    padding-left: 20px;
    font-family: 'Google Sans', sans-serif;
    background-color: #222;
    width: 330px;
    height: 100vh;
}
h5{
    color: grey;
}

nav{
    background-color: ;
    height: 10px;
    width: 100%;;
    display: flex;
    justify-content:right;
}

#settings{
    width: 40px;
    height: 40px;
}

#settings:hover{
    transition: transform 0.3s ease;
    transform: scale(1.1);
}

.setup{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    padding: 10px;
    background-color: #333;
    width: 90%;
    height: 80px;
    margin-bottom: 10px;
    align-items: center;
}

h1, .setup h5{
    margin: 0;
}

.toggle{
    height: 40px;
    width: 60px;
}