body{
    margin: 0;
    display: flex;
    flex-direction: row;
    background-color: #red;
}
button{
    border-radius: 8px;
    cursor: pointer;
}
.calendar-container{
    display: flex;
    flex-direction: row;
    background-color: #121212;
    height: 100vh;
    width: 100%;
    gap: 10px;
}
.month{
    color: whitesmoke;
    text-align: center;
    border-radius: 8px;
    background-color: #red;
    height: 90vh;
    width: 10%;
}
.day{
    background-color: red;
    margin: auto;
    height: 10vh;
    width: 10vh;
    border-radius: 8px
    ;
}
